-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: u596929139_calen
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `atividade_evento_inscricoes`
--

DROP TABLE IF EXISTS `atividade_evento_inscricoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `atividade_evento_inscricoes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `evento_item_id` int(10) unsigned NOT NULL,
  `usuario_id` int(10) unsigned NOT NULL,
  `data_inscricao` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `evento_item_id` (`evento_item_id`,`usuario_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `atividade_evento_inscricoes`
--

LOCK TABLES `atividade_evento_inscricoes` WRITE;
/*!40000 ALTER TABLE `atividade_evento_inscricoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `atividade_evento_inscricoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `atividade_evento_itens`
--

DROP TABLE IF EXISTS `atividade_evento_itens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `atividade_evento_itens` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `evento_id` int(10) unsigned NOT NULL,
  `atividade_catalogo_id` int(10) unsigned NOT NULL,
  `ordem` int(10) unsigned NOT NULL DEFAULT 0,
  `data_criacao` timestamp NULL DEFAULT current_timestamp(),
  `ultima_atualizacao` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `evento_id` (`evento_id`,`atividade_catalogo_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `atividade_evento_itens`
--

LOCK TABLES `atividade_evento_itens` WRITE;
/*!40000 ALTER TABLE `atividade_evento_itens` DISABLE KEYS */;
/*!40000 ALTER TABLE `atividade_evento_itens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `atividade_grupos`
--

DROP TABLE IF EXISTS `atividade_grupos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `atividade_grupos` (
  `atividade_id` int(10) unsigned NOT NULL,
  `grupo_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`atividade_id`,`grupo_id`),
  KEY `fk_ag_atividade` (`atividade_id`),
  KEY `fk_ag_grupo` (`grupo_id`),
  CONSTRAINT `fk_ag_atividade` FOREIGN KEY (`atividade_id`) REFERENCES `atividades` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_ag_grupo` FOREIGN KEY (`grupo_id`) REFERENCES `grupos_trabalho` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `atividade_grupos`
--

LOCK TABLES `atividade_grupos` WRITE;
/*!40000 ALTER TABLE `atividade_grupos` DISABLE KEYS */;
/*!40000 ALTER TABLE `atividade_grupos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `atividades`
--

DROP TABLE IF EXISTS `atividades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `atividades` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `descricao` text DEFAULT NULL,
  `cor` varchar(7) DEFAULT '#3b82f6',
  `data_inicio` date NOT NULL,
  `hora_inicio` time DEFAULT NULL,
  `data_fim` date DEFAULT NULL,
  `hora_fim` time DEFAULT NULL,
  `local_id` int(10) unsigned DEFAULT NULL,
  `tipo_atividade_id` int(10) unsigned DEFAULT NULL,
  `categoria_id` int(10) unsigned DEFAULT NULL,
  `criador_id` int(10) unsigned DEFAULT NULL,
  `paroquia_id` int(10) unsigned DEFAULT NULL,
  `status` varchar(50) DEFAULT 'ativo',
  `restrito` tinyint(1) DEFAULT 0,
  `serie_key` varchar(100) DEFAULT NULL,
  `serie_frequencia` varchar(50) DEFAULT NULL,
  `serie_dias_semana` varchar(100) DEFAULT NULL,
  `serie_data_fim` date DEFAULT NULL,
  `data_criacao` timestamp NULL DEFAULT current_timestamp(),
  `ultima_atualizacao` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `is_multi_color` tinyint(1) DEFAULT 0,
  `is_flashing` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `fk_atividades_paroquia` (`paroquia_id`),
  KEY `fk_atividades_local` (`local_id`),
  KEY `fk_atividades_tipo` (`tipo_atividade_id`),
  CONSTRAINT `fk_atividades_local` FOREIGN KEY (`local_id`) REFERENCES `locais_paroquia` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_atividades_paroquia` FOREIGN KEY (`paroquia_id`) REFERENCES `paroquias` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_atividades_tipo` FOREIGN KEY (`tipo_atividade_id`) REFERENCES `tipos_atividade` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `atividades`
--

LOCK TABLES `atividades` WRITE;
/*!40000 ALTER TABLE `atividades` DISABLE KEYS */;
/*!40000 ALTER TABLE `atividades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `atividades_catalogo`
--

DROP TABLE IF EXISTS `atividades_catalogo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `atividades_catalogo` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `paroquia_id` int(10) unsigned NOT NULL,
  `nome` varchar(150) NOT NULL,
  `descricao` text DEFAULT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `paroquia_id` (`paroquia_id`,`nome`),
  CONSTRAINT `fk_catalogo_paroquia` FOREIGN KEY (`paroquia_id`) REFERENCES `paroquias` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `atividades_catalogo`
--

LOCK TABLES `atividades_catalogo` WRITE;
/*!40000 ALTER TABLE `atividades_catalogo` DISABLE KEYS */;
INSERT INTO `atividades_catalogo` VALUES (1,2,'Publicar Arte Informes','Recep├º├úo e apoio aos participantes',1),(2,2,'Feed','Leitores e proclamadores',1),(3,2,'Transmiss├úo Instagram','Equipe de m├║sica e canto',1),(4,2,'Tel├úo Projetor','Cobertura, avisos e apoio da PASCOM',1),(5,2,'Cria├º├úo de Artes','Organiza├º├úo lit├║rgica',1),(6,2,'Publicar Artes Story','Equipe de m├║sica e canto',1);
/*!40000 ALTER TABLE `atividades_catalogo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_throttle`
--

DROP TABLE IF EXISTS `auth_throttle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_throttle` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `scope` varchar(50) NOT NULL,
  `identifier` varchar(191) NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `locked_until` datetime DEFAULT NULL,
  `last_attempt_at` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `scope` (`scope`,`identifier`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_throttle`
--

LOCK TABLES `auth_throttle` WRITE;
/*!40000 ALTER TABLE `auth_throttle` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_throttle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grupos_trabalho`
--

DROP TABLE IF EXISTS `grupos_trabalho`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grupos_trabalho` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `paroquia_id` int(10) unsigned NOT NULL,
  `nome` varchar(100) NOT NULL,
  `descricao` text DEFAULT NULL,
  `cor` varchar(7) DEFAULT '#3b82f6',
  `visivel` tinyint(1) DEFAULT 1,
  `ativo` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grupos_trabalho`
--

LOCK TABLES `grupos_trabalho` WRITE;
/*!40000 ALTER TABLE `grupos_trabalho` DISABLE KEYS */;
INSERT INTO `grupos_trabalho` VALUES (1,2,'Quermesse','Grupo padr├úo para novos cadastros (Sala de Espera)','#165bbb',1,1),(2,2,'Pascom Artes','0','#3bf78c',1,1),(3,2,'Pascom Transmiss├úo','Pascom Transmiss├úo','#043920',1,1),(4,2,'Secretaria','0','#bb309d',1,1),(5,2,'Pascom Youtube','Grupo padr├úo para novos cadastros (Sala de Espera)','#94a3b8',1,0),(6,2,'Acolhida','Grupo padr├úo para novos cadastros (Sala de Espera)','#2b8619',1,1),(7,2,'Todos','Grupo padr├úo ÔÇö todos os membros da par├│quia','#94a3b8',1,1),(8,2,'Jornal da Imaculada','0','#61c3db',1,1);
/*!40000 ALTER TABLE `grupos_trabalho` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscricoes`
--

DROP TABLE IF EXISTS `inscricoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inscricoes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `atividade_id` int(10) unsigned NOT NULL,
  `usuario_id` int(10) unsigned NOT NULL,
  `data_inscricao` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `atividade_id` (`atividade_id`,`usuario_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscricoes`
--

LOCK TABLES `inscricoes` WRITE;
/*!40000 ALTER TABLE `inscricoes` DISABLE KEYS */;
INSERT INTO `inscricoes` VALUES (1,98,7,'2026-04-10 22:27:15'),(2,14,10,'2026-04-08 23:30:26'),(3,13,3,'2026-04-10 06:47:32'),(4,10,10,'2026-04-10 07:18:43'),(5,96,10,'2026-04-10 07:33:35'),(6,95,10,'2026-04-10 07:36:38'),(7,10,7,'2026-04-11 00:28:40'),(8,14,7,'2026-04-11 00:32:56');
/*!40000 ALTER TABLE `inscricoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `locais_paroquia`
--

DROP TABLE IF EXISTS `locais_paroquia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `locais_paroquia` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `paroquia_id` int(10) unsigned NOT NULL,
  `nome_local` varchar(255) NOT NULL,
  `descricao` text DEFAULT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  `endereco` varchar(255) DEFAULT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  `responsavel` varchar(100) DEFAULT NULL,
  `capacidade` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `locais_paroquia`
--

LOCK TABLES `locais_paroquia` WRITE;
/*!40000 ALTER TABLE `locais_paroquia` DISABLE KEYS */;
/*!40000 ALTER TABLE `locais_paroquia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_alteracoes`
--

DROP TABLE IF EXISTS `log_alteracoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `log_alteracoes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `usuario_id` int(10) unsigned DEFAULT NULL,
  `acao` varchar(255) NOT NULL,
  `tabela_afetada` varchar(100) DEFAULT NULL,
  `registro_id` int(10) unsigned DEFAULT NULL,
  `detalhes_alteracao` text DEFAULT NULL,
  `paroquia_id` int(10) unsigned DEFAULT NULL,
  `ip_origem` varchar(45) DEFAULT NULL,
  `data_hora` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_alteracoes`
--

LOCK TABLES `log_alteracoes` WRITE;
/*!40000 ALTER TABLE `log_alteracoes` DISABLE KEYS */;
INSERT INTO `log_alteracoes` VALUES (1,1,'EDITAR_PAROQUIA','paroquias',2,'{\n    \"antigo\": {\n        \"id\": \"2\",\n        \"nome\": \"Nossa Senhora da Concei├º├úo\",\n        \"cidade\": \"Pernambuco\",\n        \"estado\": \"PE\",\n        \"diocese\": \"AOR\",\n        \"ativo\": \"1\",\n        \"data_criacao\": \"2026-04-08 02:33:29\"\n    },\n    \"novo\": {\n        \"nome\": \"Nossa Senhora da Concei├º├úo\"\n    }\n}',2,'::1','2026-04-11 23:37:24');
/*!40000 ALTER TABLE `log_alteracoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paroquias`
--

DROP TABLE IF EXISTS `paroquias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `paroquias` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `cidade` varchar(100) DEFAULT NULL,
  `estado` char(2) DEFAULT NULL,
  `diocese` varchar(255) DEFAULT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  `data_criacao` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paroquias`
--

LOCK TABLES `paroquias` WRITE;
/*!40000 ALTER TABLE `paroquias` DISABLE KEYS */;
INSERT INTO `paroquias` VALUES (1,'Igreja Cat├│lica Apost├│lica Romana','Vaticano','IT','Santa S├®',1,'2026-03-12 01:37:29'),(2,'Nossa Senhora da Concei├º├úo','Pernambuco','PE','AOR',1,'2026-04-08 05:33:29');
/*!40000 ALTER TABLE `paroquias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perfis`
--

DROP TABLE IF EXISTS `perfis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `perfis` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(50) NOT NULL,
  `descricao` text DEFAULT NULL,
  `perm_ver_calendario` tinyint(1) DEFAULT 1,
  `perm_criar_eventos` tinyint(1) DEFAULT 0,
  `perm_editar_eventos` tinyint(1) DEFAULT 0,
  `perm_excluir_eventos` tinyint(1) DEFAULT 0,
  `perm_ver_restritos` tinyint(1) DEFAULT 0,
  `perm_admin_usuarios` tinyint(1) DEFAULT 0,
  `perm_admin_sistema` tinyint(1) DEFAULT 0,
  `perm_ver_logs` tinyint(1) DEFAULT 0,
  `perm_cadastrar_usuario` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perfis`
--

LOCK TABLES `perfis` WRITE;
/*!40000 ALTER TABLE `perfis` DISABLE KEYS */;
INSERT INTO `perfis` VALUES (2,'ADMINISTRADOR PAROQUIAL',NULL,1,1,1,1,1,1,1,1,1),(3,'SECRETARIA',NULL,1,1,1,1,1,0,0,0,0),(4,'VIG├üRIO',NULL,1,1,1,1,1,0,0,0,1),(5,'PASCOM ADM',NULL,1,1,1,1,0,0,0,0,1),(6,'PASCOM AGENTE',NULL,1,1,0,0,0,0,0,0,0),(7,'PASCOM AGENTE 2',NULL,1,0,0,0,0,0,0,0,0),(8,'COORDENADOR PASTORAL',NULL,1,0,0,0,0,0,0,0,0),(9,'SEMINARISTA',NULL,1,0,0,0,0,0,0,0,0),(10,'VISITANTE',NULL,1,0,0,0,0,0,0,0,0),(11,'DIACONO',NULL,1,0,0,0,0,0,0,0,0);
/*!40000 ALTER TABLE `perfis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_atividade`
--

DROP TABLE IF EXISTS `tipos_atividade`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipos_atividade` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `paroquia_id` int(10) unsigned DEFAULT NULL,
  `nome_tipo` varchar(100) NOT NULL,
  `cor` varchar(7) DEFAULT NULL,
  `icone` varchar(50) DEFAULT NULL,
  `descricao` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_atividade`
--

LOCK TABLES `tipos_atividade` WRITE;
/*!40000 ALTER TABLE `tipos_atividade` DISABLE KEYS */;
INSERT INTO `tipos_atividade` VALUES (1,2,'Celebra├º├úo','#9333ea','­ƒÖÅ','Test description'),(2,2,'Evento Social','#db2777','­ƒÄ¿','Test description'),(3,2,'Forma├º├úo','#2563eb','Ôø¬','Test description'),(4,2,'Reuni├úo','#059669','­ƒôû','Test description'),(5,2,'Quermesse','#059669','­ƒìÀ','Test description'),(6,2,'Festa','#059669','­ƒöÑ','Test description'),(7,2,'Programar Meta business','#059669','­ƒûÑ´©Å','Test description');
/*!40000 ALTER TABLE `tipos_atividade` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_grupos`
--

DROP TABLE IF EXISTS `usuario_grupos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario_grupos` (
  `usuario_id` int(10) unsigned NOT NULL,
  `grupo_id` int(10) unsigned NOT NULL,
  `paroquia_id` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`usuario_id`,`grupo_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_grupos`
--

LOCK TABLES `usuario_grupos` WRITE;
/*!40000 ALTER TABLE `usuario_grupos` DISABLE KEYS */;
INSERT INTO `usuario_grupos` VALUES (1,1,2),(1,2,2),(1,3,2),(1,4,2),(1,5,1),(1,6,2),(1,7,2),(1,8,2),(1,9,1),(1,10,1),(2,4,2),(2,7,2),(3,4,2),(3,7,2),(5,7,2),(6,1,2),(6,2,2),(6,7,2),(7,1,2),(7,2,2),(7,7,2),(8,1,2),(8,7,2),(10,1,2),(10,2,2),(10,3,2),(10,4,2),(10,6,2),(10,7,2),(10,8,2),(11,1,2),(11,7,2),(12,1,2),(12,7,2),(13,1,2),(13,7,2),(14,1,2),(14,7,2),(15,1,2),(15,7,2),(16,1,2),(16,7,2),(17,1,2),(17,7,2),(18,1,2),(18,7,2),(19,1,2),(19,7,2),(20,1,2),(20,7,2),(21,7,2),(22,1,2),(22,7,2),(23,1,2),(23,7,2),(25,9,1),(26,9,1),(27,9,1),(28,9,1),(29,9,1),(31,9,1);
/*!40000 ALTER TABLE `usuario_grupos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `senha` varchar(255) NOT NULL,
  `perfil_id` int(10) unsigned DEFAULT NULL,
  `paroquia_id` int(10) unsigned DEFAULT NULL,
  `sexo` varchar(20) DEFAULT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  `palavra_chave` varchar(255) DEFAULT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  `perm_criar_eventos` tinyint(1) DEFAULT 0,
  `perm_editar_eventos` tinyint(1) DEFAULT 0,
  `perm_excluir_eventos` tinyint(1) DEFAULT 0,
  `perm_ver_restritos` tinyint(1) DEFAULT 0,
  `perm_cadastrar_usuario` tinyint(1) DEFAULT 0,
  `perm_admin_usuarios` tinyint(1) DEFAULT 0,
  `perm_ver_logs` tinyint(1) DEFAULT 0,
  `data_criacao` timestamp NULL DEFAULT current_timestamp(),
  `ultimo_login` timestamp NULL DEFAULT NULL,
  `data_nascimento` date DEFAULT NULL,
  `foto_perfil` varchar(255) DEFAULT NULL,
  `nivel_acesso` int(10) DEFAULT 0,
  `perfil_nome` varchar(50) DEFAULT NULL,
  `perm_ver_calendario` tinyint(1) DEFAULT 1,
  `perm_admin_sistema` tinyint(1) DEFAULT 0,
  `perm_gerenciar_catalogo` tinyint(1) DEFAULT 0,
  `perm_gerenciar_grupos` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_usuario_perfil` (`perfil_id`),
  KEY `fk_usuario_paroquia` (`paroquia_id`),
  CONSTRAINT `fk_usuario_paroquia` FOREIGN KEY (`paroquia_id`) REFERENCES `paroquias` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_usuario_perfil` FOREIGN KEY (`perfil_id`) REFERENCES `perfis` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-11 20:37:41
